html, body {
    /*scroll-behavior: smooth;*/
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

.bg-azul {
    background-color: deepskyblue;
}

hr {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}